.card__container {
    position: relative;
    border-radius: 4px;
}
.cardImage {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.cardHover {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    opacity: 0;
}
.cardHover:hover {
    opacity: 1;
}
.cardHover__text {
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 200;
}
@media (max-width:768px) {
    .cardHover__text {
        font-size: 24px;
    }
}
.noDisplay {
    visibility: hidden;
}