footer {
    margin-top: auto;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    min-width: 300px;
    height: 32px;
    background-color: #284b63;
    color: #f4f9e9;
}
footer input {
    display: inline;
    height: 20px;
    transition: transform 1s;
}
footer input:hover {
    transform: scale(3) translate(0, -5px);
}