.gameBoard__container {
    flex: 1 1 0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #e09f3e;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    border-radius: 4px;
}
@media (max-width: 768px) {
    .gameBoard__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}