.scoreboard__Container {
    display: flex;
    background-color: #e09f3e;
    margin: 10px;
    border-radius: 4px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.scoreboard__Container > * {
    font-weight: 700;
    font-size: 24px;
}
@media (max-width: 768px) {
    .scoreboard__Container > * {
        font-weight: 700;
        font-size: 18px;
    }
}
.textLight {
    font-weight: 300;
}
#currentScore {
    margin: 10px 20px 10px 40px;
}
#highScore {
    margin: 10px 40px 10px 20px;
}